[project]
	description = An adnroid app for two phones to send and receive messages and picutres using QR codes.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Sai Sindhur Malleni (smalleni)
[access "refs/for/refs/*"]
	read = group user/Sai Sindhur Malleni (smalleni)
	push = group user/Sai Sindhur Malleni (smalleni)
	label-Code-Review = -2..+2 group user/Sai Sindhur Malleni (smalleni)
	label-Verified = -1..+1 group user/Sai Sindhur Malleni (smalleni)
	rebase = group user/Sai Sindhur Malleni (smalleni)
	removeReviewer = group user/Sai Sindhur Malleni (smalleni)
	submit = group user/Sai Sindhur Malleni (smalleni)
[access "refs/heads/*"]
	read = group user/Sai Sindhur Malleni (smalleni)
	create = group user/Sai Sindhur Malleni (smalleni)
	push = +force group user/Sai Sindhur Malleni (smalleni)
	pushMerge = group user/Sai Sindhur Malleni (smalleni)
[access "refs/tags/*"]
	push = +force group user/Sai Sindhur Malleni (smalleni)
	pushTag = group user/Sai Sindhur Malleni (smalleni)
	pushSignedTag = group user/Sai Sindhur Malleni (smalleni)
